.curso_contenedor {
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 20px;
    margin-bottom: 10px;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}

body{
    background-color: antiquewhite;
}